<launch>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find apa_node)/../config/avp_rviz_config.rviz" />
    <node name="ApaNode" pkg="apa_node" type="apa_node_bin" output="screen" args="$(find apa_node)/../config/carla/apa_town04_microlino_720p.yaml">
        <param name="data_source_apa" value="local"/>
    </node>
</launch>
