[Unit]
Description=ros_daemon_service.

[Service]
ExecStart=/bin/bash /home/hugoliu/github/catkin_ws/src/se-autodriving-apa/daemon_node/tools/run_daemon_node.sh

[Install]
WantedBy=multi-user.target